* {
    margin: 0;
    padding: 2px;
    font-family: 'Kanit', sans-serif;
}

.container_product{
    width: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BreadCrumb{
    margin-top: 30px;
    height:30px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.BreadCrumb > p{
    font-size: 0.9rem;
    font-weight: 400;
}

.productWrapper{
    width: fit-content;
    min-width: 80%;
    margin: 20px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 1px solid #999; */
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainThumbnail {
    display: flex;
    justify-content: center;
    border:0;
    float:left;
    position: relative;

}

.mainThumbnail > img{
    height: 70vh;

    /* border: 4px solid green; */
}

.cornerimage_detail {
    
    display:flex;
    align-items: center;
    justify-content: center;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 50px;
    border: 1px solid orangered;
    border-radius: 10px 0 10px 10px;
    color:white;
    background-color: orangered;

}

.cornerimage_detail > p {
    font-weight: 400;
    font-size: 1.2rem;
}


.secondaryThumbnail > img {
    cursor: pointer;
    height: 15vh;
    margin-right: 20px;
    /* border: 3px solid blue !important; */
}




.prodDetails {
    padding: 20px;
    width:auto;
    height:100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.prodDetails > p {
    width: 30vw;
    font-weight: 300;
    font-size: 1rem
}

.discountedPrice{
    margin-top: 30px;
    margin-bottom: 0;
    color:red;
    font-weight: 500;
    font-size: 2rem;
}

.regularPrice{
    text-decoration:line-through;
    color: #999;
    margin-left: 10px;
    font-weight: 300;
    font-size: 1.2rem;
}

.savingAmount {
    color: red;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.options {
    display: flex;
    justify-content: space-between;
}
.options > span {
    text-decoration: underline;
    font-weight: 400;
    margin-right: 30px;
}


.addToCartBtn {
    position:absolute;
    bottom:0;
    width:30vw;
    height:40px;
    box-shadow: 3px 3px black;
}