* {
    margin: 0;
    padding: 2px;
}

ul {
    list-style-type:none;
}

.container_product {
    justify-content: center;
    border: 1px red solid;
    display: grid;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;
}

.productWrapper{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.prodThumbnails{
    display:block;
}
.prodThumbnails > img {
    display: block;
    height: auto;
}

.prodDetails{
    display:block;
    width: 200px;
    text-align: start;
    justify-content: center;
    flex: 1 1 150px;
}

.prodDetails > h2 {
    text-decoration: underline;
}

.discountedPrice{
    color:red;
}

.regularPrice{
    text-decoration:line-through;
    color: #999;
    margin-left: 10px;
    font-weight: 100;
    font-size: 12px;
}