* {
    margin: 0;
    padding: 2px;
    font-family: "Roboto";

}

ul {
    list-style-type:none;
}

.container {
    width: 100%;
}

.ProductWrapper {
    cursor: pointer;
    justify-content: center;
    border: 1px red solid;
    display: flexbox;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.ProductWrapper > img {
    width: 200px;
}

.ProductWrapper > .brand {
    padding: none;
    font-size: 1.5rem ;
}
.ProductWrapper > .productName {
    padding: none;
    font-size: 1.15rem ;
}

.ProductWrapper > .originalPrice {
    text-decoration: line-through;
}

.enteredPageSize{
    width:100%

}
.ProductWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}