* {
    margin: 0;
    padding: 2px;
    font-family: 'Kanit', sans-serif;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}
  
ul {
    list-style-type:none;
}

hr {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.container {
    width: 100%;
}

.SliderContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}

#GridContainer {
    width: 85%;
}

.Columns{
    padding:none  !important;
    margin: none !important;
}

.ProductWrapper {
    position: relative;
    cursor: pointer;
    /* border: 1px red solid; */
    display: flexbox;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 250px;
    height:510px;
}

.imgComp{
    border:0;
    float:left;
    position: relative;
}

.imgComp > img {
    width: 200px;
}

.ProductWrapper > .brand {
    text-align: start !important;
    padding: none;
    font-size: 1.7rem;
    font-weight: 500;
}
.ProductWrapper > .productName {
    padding: none;
    font-weight: 300;
    font-size: 1rem ;
}

.ProductWrapper > .discountedPrice {
    font-weight: 500;
    font-size: 1.2rem ;
}


.originalPrice {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 1.1rem ;
    color:rgba(0,0,0,0.3);
}

.ProductWrapper > .addToCartBtn {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    box-shadow: 3px 3px black;
}


.cornerimage {
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid orangered;
    border-radius: 10px 0 10px 10px;
    text-align: center;
    color:white;
    background-color: orangered;
  }

.cornerimage > p {
    font-weight: 400;
    font-size: 0.9rem;
}

.enteredPageSize{
    width:50px;
}

p  {
    position: relative !important;
    bottom: 1 !important;
    margin: 0 0 0 0 !important;
    font-weight: 200;
    font-size: 0.8rem;
}