* {
    margin: 0;
    padding: 2px;
    font-family: "Roboto";
}

.productWrapper{
    width: fit-content;
    min-width: 800px;
    margin: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid #999;
    align-items: center;
    justify-content: center;
}

.prodThumbnails > img {
    display: inline-block;
    height: 400px;
}

.discountedPrice{
    color:red;
}

.regularPrice{
    text-decoration:line-through;
    color: #999;
    margin-left: 10px;
    font-weight: 100;
    font-size: 12px;
}

.container_product{
    width: auto;
    display:flex;
    justify-content: center;
}